.superheroList {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
   margin-top: 80px;
   margin-left: 20px;
   margin-right: 20px;
}

.superhero-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.superheroImage {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.superhero-nickname {
    margin-top: 10px;
}