.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.formControl {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: red;
}